body{background-color: silver}



.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
                                  
                                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                  outline: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
                                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                  outline: none;
  }
  

  .checkmark {
    transform: translate(0, -50%);
    
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color: #fafafa;
    transition: 80ms;
    transition-delay: 50ms;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

  }
  
.checkmarkLine{
  transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left:0;
    height: 16px;
    width: 36px;
    margin-left: 5px;
    background-color: rgba(0,0,0,.38);
    z-index: -10;
    border-radius: 20px;
    transition: 80ms;
    transition-delay: 50ms;


}


  
  .container input:checked ~ .checkmark {
    transform: translate(25px, -50%);
    background-color: #e91e63;

  }
  
  .container input:checked ~ .checkmarkLine{
      background-color: rgba(233,30,99,.5);

  }


/* For focus starts here*/

  .expandingCircle{
  
    
    position: absolute;
    top: 50%;
    left: 0;
transition: 80ms;
opacity: 0;
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color: black;
    z-index: -1;
    transform: translate(0, -50%) scale(1);
    transition: 0ms;
    transition: transform 0.04s;

  
  }



   .container input:active:hover:checked ~ .expandingCircle, .container input:focus:checked~ .expandingCircle {
    transform:translate(0, -50%) scale(2);
    
    
    left: 25px;
    background-color: #e91e63;
        opacity:.3
  }


  .container input:active:hover ~ .expandingCircle , .container input:focus~ .expandingCircle {
    transform: translate(0, -50%) scale(2);
    background-color:gray;
    opacity:.3;
    
    left: 0px;
  }

